<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :petname %><br>
    <%= f.text_field :petname %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :petwalker %><br>
    <%= f.text_field :petwalker %>
  </div>
  <div class="field">
    <%= f.label :apptdate %><br>
    <%= f.date_select :apptdate %>
  </div>
  <div class="field">
    <%= f.label :apptlength %><br>
    <%= f.number_field :apptlength %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
